#container {
  background-color: greenyellow;
  height: 75vh;
  width: 95vw;
  display: flex;
}

#gutter {
  background-color: grey;
  width: 20px;
}

#editor {
  background-color: lightgrey;
  flex: 10;
}
